.container{
    margin: auto;
}
.headerrow{
    background-color: royalblue;
    color: white;
    font-weight: bold;
    width: 100%;
}
.navBarrow{
    height: 50px;
}
.daysrow{
    margin: 30px 0 30px 0;
    height: 300px;
}
.date{
    height: 30px;
    background-color: lightblue;
    border: 1px lightgray solid;
}
.days{
    margin: 0 10px 0 10px;
    border: lightgray 1px solid;
    height: 300px;
}
.weatherApp{
    font-size: xx-large;
}
.currentCity{
    font-size: large ;
}
.mapBoxrow{
    height: 00px;
}
#map{
    height: 300px;
    width: 100%;
}